<h2>Login</h2>
<form action="/login" method="POST" id="login-form">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <span id="username-error" class="error-message" ></span>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <span id="password-error" class="error-message" ></span>
  </div>

  <button type="submit">Login</button>
</form>

<script src="/js/formValidation.js"></script>

