<h2>Register</h2>
<form action="/register" method="POST" id="register-form">
  <div>
    <label for="username">Username</label>
   
    <input type="text" id="username" name="username" >
    <span id="username-error" class="error-message"></span>
  </div>

  <div>
    <label for="password">Password</label>
   
    <input type="password" id="password" name="password" >
        {{!-- <input type="password" id="password" name="password" minlength="6" required> --}}
    <span id="password-error" class="error-message"></span>
  </div>

  <div>
    <label for="confirm-password">Confirm Password</label>

    {{!-- <input type="password" id="confirm-password" name="confirmPassword" minlength="6" required> --}}
     <input type="password" id="confirm-password" name="confirmPassword" >
    <span id="confirm-password-error" class="error-message"></span>
  </div>

  <button type="submit">Register</button>
</form>

  <script src="/js/formValidation.js"></script>
