<div class="game-room">

  <div class="center-content">
    <h2 class="game-name">404 - Game Not Found</h2>
    <div class="game-options">
      <a href="/game/create" class="button">Create a New Game</a>
      <a href="/game/join" class="button">Join Existing Game</a>
    </div>
  </div>

</div>