<h1>Join an Existing Game</h1>
<p>Choose a game from the list below to join and start playing with your
  friends.</p>

<div class="game-list">
  <ul>
    <!-- Przykładowe gry, można je dynamicznie ładować z bazy -->
    <li>Game 1 - <button class="button">Join</button></li>
    <li>Game 2 - <button class="button">Join</button></li>
    <li>Game 3 - <button class="button">Join</button></li>
    <li>Game 4 - <button class="button">Join</button></li>
  </ul>
</div>